[Unit]
Description=Etcd Server
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
User=etcd
Group=etcd
ExecStart=/usr/local/bin/etcd --config-file={{ etcd_conf }}etcd.config.yml
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target

