{
  "CN": "etcd",
  "hosts": [
    {% for host in groups['etcd'] %}
      "{{ hostvars[host].ip }}",
      "{{ host }}"
      {% if not loop.last %},{% endif %}
    {% endfor %}

    {% if vip is defined %}
      , "{{ vip }}"
    {% endif %}

    {% if extra_ips is defined and extra_ips|length > 0 %}
      {% for ip in extra_ips %}
        , "{{ ip }}"
      {% endfor %}
    {% endif %}
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "CN",
      "L": "BeiJing",
      "ST": "BeiJing"
    }
  ]
}
